/**
COOLORS color palette link
https://coolors.co/182226-3c543c-1f3329-6c93b4-e2dad7
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --charleston-green: #182226ff;
    --hunter-green: #3c543cff;
    --phthalo-green: #1f3329ff;
    --maize-crayola: #FFCE63;
    --cerulean-frost: #6c93b4ff;
    --timberwolf: #e2dad7ff;
    
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-s: 1.25rem;
    --fs-m: 1.5rem;
    --fs-l: 2rem;
    --fs-title: 2.5rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--hunter-green);
    color: var(--timberwolf);
    text-align: center;
    min-he
}

/******* HERO SECTION *******/

.hero-section {
    background-image: url(images/athensfall.jpg);
    padding: 4rem;
    border-bottom-right-radius: 40%;
    box-shadow: 0 15px 10px var(--phthalo-green);
    margin-bottom: 4rem;    
}

.hero-block {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgba(31, 51, 41, .8);
    border-radius: var(--br-soft);
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding: 2rem;
    /* margin: 1rem; */
}

.hero-title {
    color: var(--timberwolf);
    font-size: var(--fs-title);
    text-transform: uppercase;
    text-shadow: 3px 3px #182226ff;
    /* letter-spacing: .5rem */
}

.hero-subtitle {
    color: var(--timberwolf);
    font-size: var(--fs-s);
    margin-bottom: 1rem;
    /* background-color: var(--phthalo-green); */
    /* padding: .5rem; */
    /* border-radius: var(--br-soft); */
}

/****** THREE ACTIVITIES SECTION *******/

.activity-section {
    background-color: var(--hunter-green);
    text-align: center;
    /* FLEXBOX FOR IMAGES AND TEXT */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 1rem;
    margin: 0 2rem 4rem 2rem;
}

 @media (max-width: 50rem) {
    .activity-section {
    flex-direction: column;
    align-items: center;
    }
 }   


.activity-block {
    width: 18rem;
    height: 100%;
    margin: 0 .5rem .5rem .5rem
}

.activity-title {
    font-size: var(--fs-l);
    text-transform: uppercase;
    margin: 0 1rem 1rem 1rem;
}

.activity-img {
    width: 100%;
    border-radius: var(--br-round);
    margin-bottom: 1.5rem;
    border: 3px solid var(--maize-crayola);
}

.activity-subtitle, .activity-text {
    width: 100%;
    margin-bottom: .75rem;
    font-size: var(--fs-s);
    
}

.activity-subblock {
    background-color: var(--phthalo-green);
    border-radius: var(--br-soft); 
    padding: 1rem;   
    /* FLEXBOX FOR TEXT */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.activity-text {
    color: var(--cerulean-frost);
   
}

.activity-text:hover {
    color: var(--maize-crayola);
}

/****** ALSO NEARBY SECTION *******/

.nearby-section {
    background-color: var(--charleston-green);
    padding: 4rem 0;
    border-top-left-radius: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

 @media (max-width: 50rem) {
    .nearby-section {
    flex-direction: column;
    align-items: center;
       
    }
 }  

.nearby-title {
    color: var(--timberwolf);    
    font-size: var(--fs-l);
    font-weight: bold;    
    text-transform: uppercase;

}

.nearby-block {
    /* width: 25%; */
    margin: 2rem;
}

 .nearby-block2 {
    width: 75%;
    margin: 2rem;

}  

.nearby-img {
  width: 75%;
}

ul {
    color: var(--cerulean-frost);
    background-color: var(--phthalo-green);
    border-radius: var(--br-soft);
    list-style-type: none;
    text-align: center;
    font-size: var(--fs-s);
    padding: 2rem;
    /* margin: 1rem; */
    border: 5px solid var(--maize-crayola);
    border-radius: var(--br-soft);
    border-bottom-right-radius: 40%; 
}

li {
    font-size: var(--fs-m);
    margin-bottom: 1rem;
    
}

li:hover {
    color: var(--maize-crayola);
}

/****** YOUR GUIDE SECTION ******/

.guide-section {
    max-width: 800px;
    text-align: left;
    background-color: var(--cerulean-frost);
    padding: 2rem;
    margin: 2rem auto;
    display: flex;
    gap: 2rem; 
    border-radius: var(--br-soft);
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-bottom: 5px solid var(--timberwolf);
    border-right: 5px solid var(--timberwolf);
    box-shadow: 15px 15px 10px var(--charleston-green);
    margin-bottom: 6rem;
   
}

 @media (max-width: 50rem) {
    .guide-section {
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    }
 }  

.guide-block {   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.guide-img {
    width: 200px;
    height: 200px;
    border-radius: var(--br-soft);
    border: 5px solid var(--maize-crayola);
}


.guide-title {
    font-size: var(--fs-m);
    margin-bottom: 1rem;
}

.guide-text {
    text-align: left;
    color: var(--charleston-green);
    font-size: var(--fs-s);
    /* padding: .25rem; */
    margin-bottom: 1rem;
}







