/**
COOLORS color palette link
https://coolors.co/182226-3c543c-1f3329-6c93b4-e2dad7
*/

/****** VARIABLES ******/

:root {
    
    /*COLORS*/
    --charleston-green: #182226ff;
    --hunter-green: #3c543cff;
    --phthalo-green: #1f3329ff;
    --maize-crayola: #FFCE63;
    --cerulean-frost: #6c93b4ff;
    --timberwolf: #e2dad7ff;
    
    /*BORDER RADIUS*/
    --br-soft: 1rem;
    --br-round: 50%;
    
    /*FONT SIZES*/
    --fs-s: 1.25rem;
    --fs-m: 1.5rem;
    --fs-l: 2rem;
    --fs-title: 2.5rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/******* GLOBAL STYLES *******/

body {
    font-family: 'Josefin Sans', sans-serif;
    background-color: var(--hunter-green);
    color: var(--timberwolf);
    text-align: center;
}

/******* HERO SECTION *******/

.hero-section {
    background-image: url(images/athensfall.jpg);
    padding: 4rem;
    border-bottom-right-radius: 40%;
    box-shadow: 0 15px 10px var(--phthalo-green);
    margin-bottom: 4rem;    
}

.hero-block {
    width: 100%;
    margin: 0 auto;
    background-color: rgba(31, 51, 41, .8);
    border-radius: var(--br-soft);
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    padding: 2rem;
    /* margin: 1rem; */
}

.hero-title {
    color: var(--timberwolf);
    font-size: var(--fs-title);
    text-transform: uppercase;
    text-shadow: 3px 3px #182226ff;
    /* letter-spacing: .5rem */
}

.hero-subtitle {
    color: var(--timberwolf);
    font-size: var(--fs-s);
    margin-bottom: 1rem;
    /* background-color: var(--phthalo-green); */
    /* padding: .5rem; */
    /* border-radius: var(--br-soft); */
}

/****** THREE ACTIVITIES SECTION *******/

.activity-section {
    background-color: var(--hunter-green);
    text-align: center;
    /* FLEXBOX FOR IMAGES AND TEXT */
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    margin: 0 1rem 4rem 1rem;
    
}

.activity-block {
    width: 25rem;
    margin: 0 .25rem .25rem .25rem
}

.activity-title {
    font-size: var(--fs-l);
    text-transform: uppercase;
    margin: 0 1rem 1rem 1rem;
}

.activity-img {
    width: 100%;
    /* height: 200px; */
    border-radius: var(--br-round);
    margin-bottom: 1.5rem;
    border: 3px solid var(--maize-crayola);
}

.activity-subtitle, .activity-text {
    margin-bottom: .75rem;
    font-size: var(--fs-s);
    
}

.activity-subblock {
    height: 200px;
    background-color: var(--phthalo-green);
    border-radius: var(--br-soft); 
    padding: 1rem;   
    /* FLEXBOX FOR TEXT */
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.activity-text {
    color: var(--cerulean-frost);
}

.activity-text:hover {
    color: var(--maize-crayola);
}

/****** ALSO NEARBY SECTION *******/

.nearby-section {
    background-color: var(--charleston-green);
    padding: 3rem;
    border-top-left-radius: 30%;
    margin-bottom: 6rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nearby-title {
    color: var(--timberwolf);    
    font-size: var(--fs-l);
    font-weight: bold;    
    text-transform: uppercase;

}

.nearby-block {
    width: 15rem;
    margin: 0 1rem;
    margin-bottom: 1rem;
}

.nearby-block2 {
    width: 30rem;
    margin: 0 1rem;
}

.nearby-img {
    width: 100%;
    border-radius: var(--br-soft);
}

ul {
    width: 100%;
    color: var(--cerulean-frost);
    background-color: var(--phthalo-green);
    border-radius: var(--br-soft);
    list-style-type: none;
    text-align: left;
    font-size: var(--fs-s);
    padding: 1.5rem;
    border: 5px solid var(--maize-crayola);
    border-radius: var(--br-soft);
    border-bottom-right-radius: 40%; 
}

li {
    /* border-radius: var(--br-soft); */
    /* border: 2px solid var(--maize-crayola); */
    margin-bottom: 1rem;
    /* padding: .5rem; */
}

li:hover {
    color: var(--maize-crayola);
}

/****** YOUR GUIDE SECTION ******/

.guide-section {
    width: 500px;
    text-align: left;
    background-color: var(--cerulean-frost);
    padding: 2rem;
    margin: 0 auto;
    display: flex;
    gap: 2rem; 
    border-radius: var(--br-soft);
    border-top-left-radius: 40%;
    border-bottom-right-radius: 40%;
    border-bottom: 5px solid var(--timberwolf);
    border-right: 5px solid var(--timberwolf);
    box-shadow: 15px 15px 10px var(--charleston-green);
    margin-bottom: 6rem;
    /* border-top-right-radius: 30%;  */
    /* border: 5px solid white; */
}

.guide-block {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.guide-img {
    width: 200px;
    height: 200px;
    border-radius: var(--br-soft);
    border: 5px solid var(--maize-crayola);
}


.guide-title {
    font-size: var(--fs-m);
    margin-bottom: 1rem;
}

.guide-text {
    text-align: left;
    color: var(--charleston-green);
    font-size: var(--fs-s);
    /* padding: .25rem; */
    margin-bottom: 1rem;
}



